<div class="jumbobg">
  <span class="brandname-pt1">chili</span>
  <span class="brandname-pt2">MD&nbsp;&nbsp;</span>
</div>
<script type="text/javascript">
  $(".jumbobg").bgswitcher({
    images: ["/backgrounds/stock7.jpg", "/backgrounds/stock6.jpg", "/backgrounds/stock5.jpg", "/backgrounds/stock4.jpg"],
  });
</script>
<div class="landing2">
  <div class="left" style="color: black; opacity: 0.8; padding: 50px;">
    <div>
      <h2>What is chiliMD?</h2>
    </div>
    <div>chiliMD is an educational platform where users can share health related information with the community.</div>
    <div>We are an open source community that values all levels of contribution.</div>
    <div>Write an article, contribute to our program source code on github, or engage in discussion with fellow educators and learners!</div>
    <div>chiliMd encourages credible information sharing by making your citations easy!</div>
  </div>
  <div class="right">
    &nbsp;
  </div>
</div>
<div class="landing3">
  <h2>Watch how easy citations can be!</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gs7Zt5ZfKVY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
