<div class="jumbobg">
  <span class="brandname-pt1">chili</span>
  <span class="brandname-pt2">MD&nbsp;&nbsp;</span>
  <!-- <div class="jumbobg current">&nbsp;</div>
  <div class="jumbobg next">&nbsp;</div> -->
</div>
<script type="text/javascript">
  $(".jumbobg").bgswitcher({
    images: ["/backgrounds/stock7.jpg", "/backgrounds/stock6.jpg", "/backgrounds/stock5.jpg", "/backgrounds/stock4.jpg"],
  });
  // let jumbocurrent = document.querySelector('.jumbobg.current');
  // let jumbonext = document.querySelector('.jumbobg.next');
  //
  // let backgrounds = [
  //   'url(/backgrounds/stock1.jpg)',
  //   'url(/backgrounds/stock2.jpg)',
  //   'url(/backgrounds/stock3.jpg)',
  //   'url(/backgrounds/stock4.jpg)'
  // ]
  //
  // let current = 0;
  // let next = 1;
  //
  // function setBackgrounds() {
  //   current++;
  //   next++;
  //   current = current % backgrounds.length;
  //   next = next % backgrounds.length;
  //   jumbocurrent.style.backgroundImage = backgrounds[current];
  //   jumbonext.style.backgroundImage = backgrounds[next];
  // }
  //
  //
  // setInterval(setBackgrounds, 3000);
  //
  // jumbocurrent.style.backgroundImage = backgrounds[0];
  // jumbonext.style.backgroundImage = backgrounds[1];
</script>
<div class="landing2">
  <h2 style="color: black; opacity: 0.3;">What is chiliMD?</h2>
</div>
