/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome

 *= require_tree .
 *= require_self
 */


html {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

* {
  font-family: inherit;
}

body {
  padding-top: 60px;
}

.navbar.chilimd {
  color: white;
  background-color: #7a2828;
  background: linear-gradient(to bottom, #7a2828, #a73737);
  z-index: 200;
  a.navbar-brand:link, a.navbar-brand:visited,
  a.navbar-brand:hover,a.navbar-brand:active {
    color: transparent;
    // background: linear-gradient(0deg, #74ebd5, #acb6e5);
    background: linear-gradient(0deg, red, lightyellow);
    -webkit-background-clip: text;
    span.appversion {
      vertical-align: top;
      font-size: 0.2em;
      color: greenyellow;
      opacity: 0.7;
    }
  }
  a {
    color: mistyrose;
    position: relative;
    text-decoration: none;
  }
  a:hover,a:active {
    color: white;
  }
  a:not(.navbar-brand):not(.bar):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: mistyrose;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:not(.navbar-brand):not(.greeting):not(:nth-last-child(2)):not(:last-child):hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  a.nav-link.bar {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 0.3em 0.6em;
    border: 1px solid mistyrose;
    border-radius: 5px;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
  .nav-link.nav-left {
    margin-right: auto;
  }
  .nav-link:not(:nth-last-child(2)) {
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .nav-link:nth-last-child(2) {
    // text-decoration: underline;
    a {
      text-decoration: underline;
    }
  }
  .nav-link:last-child:not(.signout) {
    border: 1px solid mistyrose;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
  form > button.searchbutton {
    border: 1px solid mistyrose;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    color: mistyrose;
    background-color: inherit;
    padding: 0.3em 0.6em;
    &:hover {
      color: white;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
}

.alert.alert-dismissible {
  top: 5px;
}

.has-error {
  .help-block {
    color: red;
  }
}

div.sidebar {
  position: fixed;
  z-index: 199;
  top: 0px;
  left: 0px;
  padding: 80px 20px 20px 20px;
  background-color: ligthgray;
  background: linear-gradient(135deg, whitesmoke, lightgray);
  color: dimgray;
  width: 300px;
  height: 100%;
  &.hidesidebar {
    left: -400px;
    // visibility: hidden;
  }
  transition: left 0.5s ease;
  box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.2);
  a {
    color: dimgray;
    // text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.jumbobg {
  // background-image: url('/backgrounds/stock1.jpg');
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 500;
  span.brandname-pt1 {
    background-image: linear-gradient(0deg, gold 25%, gray 35%, white 60%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  }
  span.brandname-pt2 {
    background-image: linear-gradient(0deg, gold 25%, palevioletred 35%, lightpink 60%, lightpink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lightpink;
    position: relative;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  }
  // .jumbobg.current{
  //   width: inherit;
  //   z-index: 5;
  //   position: absolute;
  // }
  // .jumbobg.next {
  //   width: inherit;
  //   z-index: 4;
  //   position: absolute;
  // }
}

@import 'bootstrap';
