/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require jquery-ui
 *= require_self
 *= require chosen
 *= require fullcalendar
 *= require bootstrap-datepicker
 */

@import 'bootstrap';

html {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

* {
  font-family: inherit;
}

body {
  padding-top: 60px;
}

.navbar.chilimd {
  color: white;
  background-color: #7a2828;
  background: linear-gradient(to bottom, #7a2828, #a73737);
  z-index: 200;
  a.navbar-brand:link, a.navbar-brand:visited,
  a.navbar-brand:hover,a.navbar-brand:active {
    color: transparent;
    // background: linear-gradient(0deg, #74ebd5, #acb6e5);
    background: linear-gradient(0deg, red, lightyellow);
    -webkit-background-clip: text;
    span.appversion {
      vertical-align: top;
      font-size: 0.2em;
      color: greenyellow;
      opacity: 0.7;
    }
  }
  a {
    color: mistyrose;
    position: relative;
    text-decoration: none;
  }
  a:hover,a:active {
    color: white;
  }
  a:not(.navbar-brand):not(.bar):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: mistyrose;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:not(.navbar-brand):not(.greeting):not(:nth-last-child(2)):not(:last-child):hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  a.nav-link.bar {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 0.3em 0.6em;
    border: 1px solid mistyrose;
    border-radius: 5px;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
  .nav-link.nav-left {
    margin-right: auto;
  }
  .nav-link:not(:nth-last-child(2)) {
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .nav-link:nth-last-child(2) {
    // text-decoration: underline;
    a {
      text-decoration: underline;
    }
  }
  .nav-link:last-child:not(.signout) {
    border: 1px solid mistyrose;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
  form > select.navdropdownfield {
    margin-right: 5px;
    background-color: darken(#b31217, 20%);
    color: white;
    border: 0;
    font-size: 0.9em;
    // border-color: mistyrose;
    opacity: 0.8;
  }
  form > input.navsearchbar[type='search'] {
    margin-right: 5px;
    background-color: darken(#b31217, 20%);
    color: white;
    border: 0;
    // font-size: 0.9em;
    // border-color: mistyrose;
    opacity: 0.8;
    &::placeholder {
      color: mistyrose;
      opacity: 0.8;
    }
  }
  form > button.searchbutton {
    border: 1px solid mistyrose;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    color: mistyrose;
    background-color: inherit;
    padding: 0.3em 0.6em;
    &:hover {
      color: white;
      background: linear-gradient(180deg, #b31217, #e52d27);
    }
  }
}

.alert.alert-dismissible {
  top: 5px;
}

.has-error {
  .help-block {
    color: red;
  }
}

div.sidebar {
  position: fixed;
  z-index: 199;
  top: 0px;
  left: 0px;
  padding: 80px 20px 20px 20px;
  background-color: ligthgray;
  background: linear-gradient(135deg, whitesmoke, lightgray);
  color: dimgray;
  width: 300px;
  height: 100%;
  opacity: 0.95;
  &.hidesidebar {
    left: -400px;
    // visibility: hidden;
  }
  transition: left 0.5s ease;
  box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.2);
  a {
    color: dimgray;
    // text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

a#sign_in-tab, a:hover#sign_in-tab {
  background-color: transparent;
  &.active {
    border-color: gray gray #ececec;
  }
}
a#sign_up-tab, a:hover#sign_up-tab {
  background-color: transparent;
  &.active {
    border-color: gray gray #ececec;
  }
}
ul#signintabs {
  border-bottom: 1px solid gray;
}

div.maindiv {
  &.blur {
  -webkit-filter: blur(10px) contrast(0.7);
  -moz-filter: blur(10px) contrast(0.7);
  -o-filter: blur(10px) contrast(0.7);
  -ms-filter: blur(10px) contrast(0.7);
  filter: blur(10px) contrast(0.7);
  }
}

div.signincardcontainer {
  content: " ";
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  div.signincard {
    box-shadow: 2px 2px 5px 1px #999;
  }
}

#signUpModal, .signincardcontainer {
  div.signincard {
    max-width: 800px;
    position: relative;
    padding: 3em 5em;
    min-height: 400px;
    background-image: url('/layout/vector3.png'), linear-gradient(-45deg, rgba(240, 128, 128, 0.3), rgba(255, 160, 122, 0.3));
    background-size: cover, auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border-radius: 5px;
    // box-shadow: 0px 0px 10px 2px lightgray;
    &::after {
      content: "";
      background-image: url('/layout/cardbackground.jpg');
      background-size: auto;
      image-rendering: pixelated;
      // opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      -webkit-filter: contrast(0.1) brightness(2);
      -moz-filter: contrast(0.1) brightness(2);
      -o-filter: contrast(0.1) brightness(2);
      -ms-filter: contrast(0.1) brightness(2);
      filter: contrast(0.1) brightness(2);
    }
    div.signincardfields {
      width: 100%;
    }
    div.fbicon, div.ggicon {
      a:link, a:hover, a:visited, a:active {
        color: dimgray;
      }
      span.oauthicons {
        background-color: white;
        font-size: 0.8em;
        font-weight: 500;
        width: 200px;
        margin: 0.5em;
        // border: 1px solid #aaa;
        &:hover {
          box-shadow: 0px 0px 3px 1px #ccc;
        }
      }
    }
    .form-control:not(.btn), .custom-file-label {
      border: 1px solid #aaa;
    }
    h3 {
      span {
        // background-image: linear-gradient(0deg, red, lightyellow);
        background-image: linear-gradient(0deg, crimson, lightpink 55%, mistyrose);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: lightpink;
        -webkit-text-stroke: 1px rgba(220, 20, 60, 0.8);
      }
      font-weight: 600;
      margin-bottom: 0.5em;
      color: dimgray;
      opacity: 0.9
    }
  }
}

#signUpModal div.signincard {
  // background-image: url('/layout/vector3.png'), linear-gradient(-45deg, rgba(74,194,154,0.5), rgba(189,255,243,0.5));
  // background-image: url('/layout/vector3.png'), linear-gradient(135deg, rgba(178,254,250,0.8), rgba(14,210,247,0.8));
//   background-image: url('/layout/vector3.png'), linear-gradient(135deg, rgba(250, 232, 170, 0.8), rgba(152, 251, 152, 0.8));
//   .btn-danger {
//     background-color: steelblue;
//     border: 1px solid steelblue;
//     opacity: 1.5;
//   }
}

div.fbicon, div.ggicon {
  a:link, a:hover, a:visited, a:active {
    color: dimgray;
    text-decoration: none;
  }
  span.oauthicons {
    background-color: white;
    font-size: 0.8em;
    font-weight: 500;
    width: 200px;
    display: block;
    margin: 1em auto;
    // border: 1px solid #aaa;
    &:hover {
      box-shadow: 0px 0px 3px 1px #ccc;
    }
  }
}

.jumbobg {
  // background-image: url('/backgrounds/stock1.jpg');
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  top: 55px;
  left: 0px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 500;
  span.brandname-pt1 {
    background-image: linear-gradient(0deg, gold 25%, gray 30%, white 55%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    -webkit-text-stroke: 2px rgba(100, 100, 100, 0.8);
  }
  span.brandname-pt2 {
    background-image: linear-gradient(0deg, gold 25%, palevioletred 30%, lightpink 55%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lightpink;
    position: relative;
    -webkit-text-stroke: 2px rgba(200, 50, 50, 0.8);
  }
  // .jumbobg.current{
  //   width: inherit;
  //   z-index: 5;
  //   position: absolute;
  // }
  // .jumbobg.next {
  //   width: inherit;
  //   z-index: 4;
  //   position: absolute;
  // }
}

.follow-button {
  font-size: 0.8em;
}
