div.landing2 {
  position: absolute;
  z-index: -3;
  top: 555px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, paleturquoise, lightyellow);
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .right {
    min-width: 754px;
    height: 100%;
    background-image: url('/layout/app-window-2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

div.landing3 {
  position: absolute;
  z-index: -3;
  top: 1145px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, peachpuff, lavender);
  height: 700px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  iframe {
    width: 853px;
    height: 480px;
  }
}
div.footerdiv {
  position: absolute;
  z-index: -3;
  top: 1845px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #7a2828, #a73737);
  color: #fff;
  padding: 25px;
  text-align: center;
  div.footericons {
    display: flex;
    justify-content: center;
    div.portfolioicon {
      content: '';
      width: 50px;
      height: 50px;
      border-radius:100%;
      background-image: url('https://avatars2.githubusercontent.com/u/32340800?s=460&v=4');
      background-size: contain;
    }
    a:link, a:visited, a:active {
      color: mistyrose;
      opacity: 0.7;
    }
    a:hover {
      color: #fff;
      opacity: 1;
    }
    * {
      margin: 25px;
    }
  }
}

@media screen and (max-width: 992px){
  div.landing2 {
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 900px;
    .left{
      height: 400px;
    }
    .right {
      height: 500px;
      width: 100%;
      min-width: 600px;
      background-size: contain;
      background-position: right bottom;
    }
  }
  div.landing3 {
    top: 1445px;
    height: 600px;
    iframe {
      width: 560px;
      height: 315px;
    }
  }
  div.footerdiv {
    top: 2045px;
  }
}

@media screen and (max-width: 600px) {
  div.landing2 {
    height: 800px;
    .left{
      height: 550px;
    }
    .right {
      height: 250px;
      width: 100%;
      min-width: 320px;
      background-size: contain;
      background-position: right bottom;
    }
  }
  div.landing3 {
    top: 1345px;
    height: 400px;
    iframe {
      width: 320px;
      height: 180px;
    }
  }
  div.footerdiv {
    top: 1745px;
  }
}

@media screen and (max-width: 370px){
  div.landing2 {
    .left {
      font-size: 15px;
    }
  }
}
