div.landing2 {
  position: absolute;
  z-index: -3;
  top: 545px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, paleturquoise, lightyellow);
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left {
    height: 100px;
    width: 100%;
  }
  .right {
    min-width: 754px;
    height: 100%;
    background-image: url('/layout/app-window-2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
