#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; height: 1em; }
#sortable li span { position: absolute; margin-left: -1.3em; }

#reviewlists-sortable {
  // background-color: #fcfcfc;
  input[type="text"] {
    color: black;
    font-size: 0.8em;
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
    line-height: 0.8em;
    width: 100px;
    border: 1px solid #ccc;
  }
}

a.reviewlists-item.ui-sortable-handle {
  text-decoration: none;
  line-height: 1.5em;
  padding: 0.25em;
  margin: 0.25em;
  width: 100%;
  border-radius: 0.25em;
  background-color: #fff;
  border: 1px solid #eee;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#reviewcalendar {
  visibility: visible;
  &.hidecalendar {
    visibility: hidden;
  }
}
