ul.chosen-choices {
  line-height: 2;
  padding: 0.375em 0.75em;
  font-size: 16px;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border-radius: 0.25rem;
  width: 100%;
}

.chosen-container {
  // padding: 0.375em 0.75em;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
}
