// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.usershowprofileimage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: block;
  object-fit: cover;
  // max-width:100px;
  // max-height:100px;
  // width: auto;
  // height: auto;
}

img.authorsprofileimage {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  display: block;
  object-fit: cover;
  // max-width:100px;
  // max-height:100px;
  // width: auto;
  // height: auto;
}

div.linktoauthorshow {
  font-size: 0.8em;
  color: slategray;
}
